* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    /*     overflow-x: hidden; */
    background-color: rgb(20, 20, 20);
}

:root {
    --zestflix_color: #FF00E4;
    --netflix_color: #DB202C;
    --netflix_logo_font: BebasNeue;
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

.signIn label {
    position: absolute;
    top: 32%;
    left: 1rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    pointer-events: none;
    transition: margin-top 0.3s ease;
}

.signIn label {
    position: absolute;
    top: 32%;
    left: 1rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease;
}

.signIn input:focus + label,
.signIn input:not(:placeholder-shown) + label,
.signIn input:valid + label {
    top: 10%;
    font-size: 14px;
}

.signIn label.active {
    top: 10%;
    font-size: 14px;
}

footer {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgb(0, 0, 0) 20%);
    margin-top: 50px;
    box-shadow: 0 50vh 0 50vh rgb(0, 0, 0);

    padding: 80px 30px;
}
