.cookieHeader{
  background-color: white;
  padding-top: 10px;
  padding-left: 10px;

}

.cookieHeader h1 {
  color: #000000;
}

button:active {
  opacity: 0.8;
}

.cookie{
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie.open{
  opacity: 1;
  z-index: 999;
}

.cookieInner {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 380px;
}

.cookieInner p {
  color: #000000;
}

.cookieInner a {
  color: #000000;
}
 
.cookieFooter{
  padding-bottom: 10px;
  padding-top: 25px;
}

#closeCookie{
  width: 40%;
  background: var(--zestflix_color);

}
 


