* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    /*     overflow-x: hidden; */
    background-color: rgb(20, 20, 20);
}

:root {
    --zestflix_color: #C11119
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}