/*+-*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

body {
    background-color: black;
    overflow-x: hidden;
}

header {
    height: 90px;
    width: 100%;
    padding: 24px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    background: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 100%);
}

@media (max-width: 960px) {
    header {
        height: 74px;
    }
}

@media (min-width: 1280px) {
    header {
        padding: 24px 12%;
    }

}

@media (min-width: 1920px) {
    header {
        padding: 24px 19%;
    }

}

.navBranding {
    height: 100%;
    width: min-content;
}

.navBranding img {
    height: 100%;
    pointer-events: none;
    user-select: none;
}


.signInContent {
    margin: 0 auto;
    width: 450px;
    height: fit-content;

    box-sizing: border-box;
    padding: 48px 68px 40px;
    background-color: rgba(0, 0, 0, .75);
    font-family: Netflix Sans;
}

.signInContent h1 {
    margin-bottom: 28px;
}

.signInContent h3 {
    margin: 18px 0;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.heroImg {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;

    filter: brightness(50%);
    z-index: -1;
    overflow: hidden;
}

.signIn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.signIn input {
    color: white;
    font-size: 16px;

    box-sizing: border-box;
    padding: 24px 16px 8px;
    width: 100%;
    height: 56px;
    border: 0;

    outline: 0.5px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.33);
    border-style: solid;

    border-radius: 4px;

    background-color: rgba(30, 30, 30, 0.5);
}

.user-box,
.password-box {
    position: relative;
}

.signIn label {
    position: absolute;
    top: 32%;
    left: 1rem;
    color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    transition: margin-top 0.3s ease;
    /*font-size: 16px;*/
    /*margin-top: 0px;*/
    font-size: 12px;
    margin-top: -6px;
}

button {
    color: white;
    background-color: black;
    width: 100%;
    height: 38.4px;
    border: 0;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

#getDataButton {
    background-color: var(--zestflix_color);
}

.or {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    text-align: center;
}

#signInCode {
    background-color: rgba(255, 255, 255, 0.175);
}

#displaySignInCode {
    display: none;
}

select {
    color: black;
}

#displayLearnMore {
    opacity: 0;
    transition: opacity 0.5s;
}

#LearnMore {
    padding: 0;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    background-color: transparent;
    color: #0071eb;
}

.forgotPassword {
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}

.signInContent a {
    text-decoration: none;
}

.signInContent a:hover {
    text-decoration: line;
}

.rememberMe {
    display: flex;
    gap: 10px;
}

.captaProtection {
    opacity: 60%;
    font-size: 13px;
}

.signInContentBottom {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.newToNetflix p {
    color: #8c8c8c;
    ;
}

.newToNetflix a {
    opacity: 100%;
}

