body {
    height: calc(100vh*5);
}

header {
    height: 92px;
    width: 100%;
    padding: 24px 148px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    background: rgb(0,0,0);
    background: linear-gradient(rgba(0,0,0,0.7) 50%, transparent 100%);
}

@media (max-width: 1280px) {
    header {
        padding: 24px 80px;
    }
}

@media (max-width: 960px) {
    header {
        padding: 24px 32px;
    }
}

.navBranding {
    height: 100%;
    width: fit-content;
    padding-bottom: 4px;
}

.navBranding img {
    height: 100%;
}

.navRight {
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.signInButton {
    width: 75px;
    height: 30.4px;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;

    min-height: 2rem;
    border: 0px;
    background-color: var(--zestflix_color);

    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    font-family: Netflix Sans;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImgIndex {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heroImgIndex img {
    width: 100%;
    height: 100%;
    opacity: 30%;
    
}

.LanguageSelect {
    box-sizing: content-box;
    width: 99.2px;
    height: calc(20px - 1.6px);
    padding: 6px 36px;
    background-color: rgb(20, 20, 20);
    font-family: Netflix Sans;
    font-weight: bolder;
    border: 1 solid inset;
    border-radius: 0.1875rem;

    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.LanguageSelect option{
    margin: 40px;
    background: white;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.langSelectIcon {
    height: fit-content;
    margin-right: -40px;
    z-index: 20;
}

.IndexPage_Mtext h1 {
    padding: 24px 148px;
}

.gradient {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    margin-top: -300px;
    background: linear-gradient(90deg, rgba(0,0,0,0.7) 30%, transparent 100%);
}