body {
    height: calc(100vh*5);
    overflow-x: hidden;
    font-family: Netflix Sans;
    background-color: black;
}

header {
    position: absolute;
    height: 80px;
    width: 100%;
    padding: 0 148px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgb(0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, 0.7) 50%, transparent 100%);
}

@media (min-width: 1920px) {
    header {
        padding: 0 calc(50vw - 606px);
    }
}

@media (max-width: 1279.9px) {
    header {
        padding: 0px 80px;
    }
}

@media (max-width: 959.9px) {
    header {
        padding: 24px 32px;
    }
}


.navBranding {
    height: 40px;
}

@media (max-width: 959.9px) {
    .navBranding {
        height: 24px;
    }
}

.navBranding img {
    height: 100%;
}

.navRight {
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.signInButton {
    width: 75px;
    height: 30.4px;
    border-width: 0.0625rem;
    border-radius: 0.1875rem;

    min-height: 2rem;
    border: 0px;
    background-color: var(--zestflix_color);

    color: white;
    font-size: 0.875rem;
    font-weight: 500;
    text-decoration: none;
    font-family: Netflix Sans;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImgIndex {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 720px;
    overflow: hidden;
}

.heroImgIndex img {
    min-width: 100%;
    filter: brightness(43%);
    opacity: 100%;
    position: absolute;
}

.LanguageSelect {
    box-sizing: content-box;
    width: 99.2px;
    height: calc(20px - 1.6px);
    padding: 6px 36px;
    background-color: rgb(20, 20, 20);
    font-family: Netflix Sans;
    font-weight: bolder;
    border: 1 solid inset;
    border-radius: 0.1875rem;

    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

.LanguageSelect option {
    margin: 40px;
    background: white;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.langSelectIcon {
    height: fit-content;
    margin-right: -40px;
    z-index: 20;
}

.gradient {
    width: 100%;
    height: 200%;
    background: rgb(0, 0, 0);
    margin-top: -1000px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 30%, transparent 100%);
    display: none;
}

.IndexPage_Mtext {
    padding: 0px 148px 64px;
    max-width: 120rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.IndexPage_Mtext h1 {
    font-size: 3.5rem;
    font-family: Netflix Sans;
    margin: 0px 0px 8px;
    height: fit-content;
}

#caret {
    margin-left: -35px;
    margin-right: 15px;
}


.IndexPage_Mtext p {
    height: fit-content;
    font-family: Netflix Sans;
}

.IndexPage_Mtext .StartsAt {
    margin: 0px 0px 34px;
}

.IndexPage_Mtext .email_mt {
    padding: 0px 0px 16px;
}

.enterEmail input {
    padding: 24px 16px 8px;
}

@media (min-width: 1920px) {
    .IndexPage_Mtext {
        padding: 0px 22.125rem 64px;
        margin: 0 auto;
    }
}


@media (max-width: 1279.9px) {
    .IndexPage_Mtext {
        padding: 0 5rem 3rem;
    }
}

@media (max-width: 959.9px) {
    .IndexPage_Mtext {
        padding: 0 2rem 2.5rem;
        height: 452px;
    }
}

.GetStarted_bt {
    height: 56px;
    width: 209px;
    margin: -0.8px -0.8px -0.8px;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: var(--zestflix_color);
}


@media (max-width: 1279.9px) {
    .IndexPage_Mtext h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.enterEmail {
    display: flex;
}

.underline {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1) 16%,
            rgba(184, 40, 105, 1),
            rgba(229, 9, 20, 1),
            rgba(184, 40, 105, 1),
            rgba(33, 13, 22, 1) 84%);
    height: 5px;
    z-index: 100;
    filter: hue-rotate(-45deg) saturate(1.2);

}

.triB {
    z-index: 10;
    width: 100%;
    padding: 100px 148px 0 148px;
    background-color: black;
    position: relative;
}

@media (min-width: 1920px) {
    .triB {
        padding: 0 calc(50vw - 606px);
    }
}

@media (max-width: 1279.9px) {
    .triB {
        padding: 0px 80px;
    }
}

@media (max-width: 959.9px) {
    .triB {
        padding: 24px 32px;
    }
}



#MRTJ {
    max-width: 120rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 45px 0 15px;
}


@media (min-width: 1920px) {
    .triB {
        padding: 0 calc(50vw - 606px);
    }
}

@media (max-width: 1279.9px) {
    .triB {
        padding: 0px 80px;
    }
}

@media (max-width: 959.9px) {
    .triB {
        padding: 24px 32px;
    }
}

.boexsContainer {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

.boexs {
    box-sizing: content-box;
    padding: 1.5rem 1rem 6rem 1rem;
    height: auto;
    background: linear-gradient(149deg,
            #192247 0%,
            #210e17 96.86%);
    border-radius: 1rem;
    width: 100%;
    position: relative;
    filter: hue-rotate(-45deg) saturate(1.2);
}

.row1b {
    display: flex;
    width: 100%;
    gap: 0.75rem;
}

.row2b {
    display: flex;
    width: 100%;
    gap: 0.75rem;
}


@media (max-width: 960px) {
    .row1b {
        flex-direction: column;
    }
}


@media (max-width: 960px) {
    .row2b {
        flex-direction: column;
    }
}


@media (max-width: 1280px) {
    .boexsContainer {
        flex-direction: column;
    }
}


.boexs h1 {
    font-size: 1.5rem;
}

.boexs p {
    opacity: 70%;
    font-size: 1rem;
    padding-top: 1vw;
}

.boexs svg {
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.FAQ {
    box-sizing: content-box;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-top: 50px;
    padding: 0px 148px 64px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #2D2D2D;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}



.collapsible h1 {
    color: #ffffff;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
    background-color: #414141;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 30px 20px;
    display: none;
    overflow: hidden;
    background-color: #2D2D2D;
    transition: max-height 2s ease-out;
    margin-top: 2px;
    font-size: 1.5rem;
}

.content.active {}

@media (min-width: 1920px) {
    .FAQ {
        padding: 0px 22.125rem 64px;
        margin: 0 auto;
    }
}


@media (max-width: 1279.9px) {
    .FAQ {
        padding: 0 5rem 3rem;
    }
}

@media (max-width: 959.9px) {
    .FAQ {
        padding: 0 2rem 2.5rem;
        height: 452px;
    }
}