    header {
        height: 68px;
        width: 100%;
        padding: 0 60px;
        top: 0;
        position: fixed;
        z-index: 2;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 1500px) {
        header {
            padding: 0 4%;
        }
    }

    @media (max-width: 950px) {
        header {
            height: 41px;
        }
    }

    .headerSolid {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(rgb(0,0,0), rgb(20,20,20));
        opacity: 0;
        position: absolute;
        z-index: -2;
        transition: 0.5s ease-out;
    }

    .headerSolid.show {
        opacity: 100%;
        transition: 0.2s ease-out;
    }

    .headerLeft {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 46px;
    }

    .navBranding {
        height: 25px;
        width: fit-content;
    }

    @media (max-width: 950px) {
        .navBranding {
            height: 15px;
        }
    }

    .navBranding img {
        height: 100%;
    }

    .navLeft {
        display: flex;
        gap: 20px;
    }

    .navLeft a {}

    .navLeft a:hover {
        color: lightgray;
        transition: 0.3s ease-in;
    }

    header a {
        font-family: Netflix Sans;
        font-size: 14px;
        text-decoration: none;
        color: white;
    }

    @media (max-width: 1200px) {
        header a {
            font-size: 1vw;
        }
    }

    @media (max-width: 1185px) {
        header a {
            font-size: 0.9vw;
        }
    }

    @media (max-width: 1168px) {
        header a {
            font-size: 0.88vw;
        }
    }


    .navRight {
        height: 100%;
        margin: auto 0;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    @media (max-width: 1330px) {
        .navRight, .navLeft {
            gap: 19px;
        }

        .headerLeft {
            gap: calc(19px*2);
        }
    }

    @media (max-width: 1150px) {
        .headerLeft {
            gap: 22px;
        }
    }

    .account svg {
        transition: ease-in-out 0.2s;
        margin-left: 10px;
    }

    .account svg:hover {
        transition: ease-in-out 0.2s;
        transform: rotate(180deg);
    }

    @media (max-width: 950px) {
        .account svg {
            display: none;
        }
    }

    .navRight img {
        height: 32px;
        border-radius: 10%;
    }

    header .account {
        display: flex;
        align-items: center;
        height: 100%;
        width: fit-content;
    }

    .heroImg {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .heroImg img {
        width: 100%;
    }

    #bolder {
        font-weight: bold;
    }